# SQLAlchemy Examples

In [1]:
import sqlalchemy
sqlalchemy.__version__

'1.1.5'

## The SQL Expression Language

In [2]:
# create an `Engine` using the default psycopg2 adapter which uses the Python DBABI spec v2.
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@postgres:5432/postgres')

In [3]:
# The engine will ask the connection pool for a connection when the `connect()` or `execute()` methods are called.
conn = engine.connect()
result = conn.execute('SELECT version();')
for row in result:
    print(row)

('PostgreSQL 9.6.2 on x86_64-pc-linux-gnu, compiled by gcc (Debian 4.9.2-10) 4.9.2, 64-bit',)

In [4]:
### Define a database table in the metadata.
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
users = Table('users', metadata,
              Column('id', Integer, primary_key=True),
              Column('name', String(20)),
              Column('fullname', String(50))
)

addresses = Table('addresses', metadata,
                 Column('id', Integer, primary_key=True),
                 Column('user_id', None, ForeignKey('users.id')),
                 Column('email_address', String(50), nullable=False)
)

In [5]:
### Create the tables (this is idempodent).
metadata.create_all(engine)

In [6]:
### Create an insert statement to place a user in the users table.
ins = users.insert().values(name='tobin', fullname='Tobin Quadros')
str(ins)

'INSERT INTO users (name, fullname) VALUES (:name, :fullname)'

In [7]:
### Show the insert params.
ins.compile().params

{'fullname': 'Tobin Quadros', 'name': 'tobin'}

In [8]:
result = conn.execute(ins)
result.inserted_primary_key

[1]

In [9]:
### Execute a query to fetch all data from the users table.
[row for row in conn.execute('SELECT * from users;')]

[(1, 'tobin', 'Tobin Quadros')]

In [10]:
### Drop all tables stored in this metadata.
conn.close()
metadata.drop_all(engine)

## The Object Relational Mapper (ORM)